{% extends 'perfilesapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
About
{% endblock %} 

{% block about %} 

<div>
    <p class="justify-content-center">
        <br>
        <br>
        <h1 style="color:white" > 
        Luci y Lula: Sobre Nosotras
        </h1>
        <br>
        <br>

        <h4 style="color:white" align="justify">
            <p>Somos Lucila Tessa-Ingeniera Quimica y estudiante de Python-, oriunda de Uruguay y Luciana Baldo -Diseñadora de Indumentaria y estudiante de Python-, oriunda de Argentina</p>
            <p>Creamos el siguiente proyecto relacionado a la pasión de Lucila, el Remo, y su escuela donde entrena y compite: Escuela de Punta Carretas. </p>
            <p>Todo el material aqui presentado pertenece al club y se ha trabajado con la autorización correspondiente, en busca de mejorar en un futuro la web actual.</p>
            <p>La idea principal era que la web sea un lugar de encuentro del club, en donde se puedan ofrecer los diferentes servicios: información, venta de clases y productos relacionados, noticias y un espacio para los socios, donde sentirse parte</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>

        </h4>
        <br>
        <br>        
    </p>
</div>




{% endblock %} 