{% extends 'perfilesapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
CRO
{% endblock %} 

{% block about %} 
<div>
    <p class="justify-content-center">
        
        <br>
        <br>
        <h1 style="color:white" >

            CRO - Club de Remo Oriental

        </h1>
        <br>
        <br>

        

        <h4 style="color:white" align="justify"> 
            <p>El club de remo Oriental, fundado en el año 2019 , es un club federado de competencia en el circuito uruguayo, y recientemente internacional. </p> 
            <p>Su principal logro a nivel local son la copa a la atleta novicia del año en el campeonato 2022, mientras que a nivel internacional es la medalla de bronce por parte del bote doble femenino en el campeonato sudamericano desarrollado en San Pablo a comienzos del año 2022.  </p>
            <p>Actualmente se encuentra disputando el campeonato uruguayo, en donde 15 atletas, de categorias juveniles y master, recorren el pais superando sus metas.</p>
            <p>Los entrenamientos se realizan 6 dias a la semana, en donde se integran entrenamientos en agua, de máquinas y de fuerza. </p>
        </h4>
   
        <br>
        <br>
    </p>
</div>

{% endblock %} 